/* ===================================
   Design System Variables
=================================== */

:root {


    /* Primary Colors */

    --primary: #2563eb;

    --primary-dark: #1d4ed8;



    /* Background */

    --background: #f8fafc;

    --surface: #ffffff;



    /* Text */

    --text: #0f172a;

    --text-light: #64748b;



    /* Borders */

    --border: #e2e8f0;



    /* Status */

    --success: #22c55e;



    /* Effects */

    --shadow:
    0 10px 30px rgba(15,23,42,.08);



    --radius:16px;


    --transition:.3s ease;


    --container-width:1200px;


    --section-padding:100px 30px;


}



/* ===============================
   DARK MODE VARIABLES
================================ */


.dark-mode {


    --background:#020617;


    --surface:#0f172a;


    --text:#f8fafc;


    --text-light:#94a3b8;


    --border:#1e293b;


    --shadow:
    0 10px 30px rgba(0,0,0,.4);


}